@media (min-width: 576px) {
    .carousel-container {
      line-height:7em;
    }
  }
  
  @media (min-width: 768px) {
    .carousel-container {
      line-height:5em;
    }
  }
  
  @media (min-width: 992px) {
    .carousel-container {
      line-height:3em;
    }
  }
  
  @media (min-width: 1200px) {
    .carousel-container {
      line-height:1em
    }
  }
  